<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <html lang="en">
    <head th:replace="fragments/header :: header"> </head>
    <body>
      <div class="container heightCal">
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
        <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-3">
              <img
                id="image"
                class="img-fluid card-img-top mb-5 mb-md-0"
                alt="..."
              />
            </div>
            <div class="col-md-9">
              <div class="small mb-1">
                <span>ISBN : </span>
                <span id="isbn"></span>
              </div>
              <h1 id="title" class="display-9 fw-bolder">Shop item template</h1>
              <div class="fs-6 mb-1">
                <span>저자 : </span>
                <span id="author" class="fw-bolder"></span>
              </div>
              <div class="fs-6 mb-2">
                <span>출판사 : </span>
                <span id="publisher" class="fw-bolder"></span>
              </div>
              <div class="fs-6 mb-2">
                <span>가격 : </span>
                <span id="price" class="fw-bolder"></span>
              </div>
              <div class="fs-6 mb-2">
                <span>출간일 : </span>
                <span id="pubdate" class="fw-bolder"></span>
              </div>
              <div class="d-flex">
                <button
                  id="bookMarkAdd"
                  class="btn btn-outline-dark flex-shrink-0"
                  type="submit"
                >
                  즐겨찾기 추가
                </button>
                <button
                  id="bookMarkRemove"
                  class="btn btn-outline-dark flex-shrink-0 hidden"
                  type="submit"
                >
                  즐겨찾기 제거
                </button>
              </div>
              <p id="description" class="lead fs-6"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row bootstrap snippets bootdeys">
          <div class="col-md-12 col-sm-12">
            <div class="comment-wrapper">
              <div class="panel panel-info">
                <div class="panel-heading">나의 생각</div>
                <div class="panel-body">
                  <div>
                    <textarea
                      maxlength="255"
                      sec:authorize="isAuthenticated()"
                      id="review"
                      class="form-control"
                      placeholder="나의 생각을 남겨보세요."
                      rows="3"
                    ></textarea>
                    <textarea
                      sec:authorize="isAnonymous()"
                      disabled
                      th:sec
                      name="review"
                      class="form-control"
                      placeholder="로그인 하십시오."
                      rows="3"
                    ></textarea>
                    <br />
                    <button
                      sec:authorize="isAuthenticated()"
                      id="addReview"
                      type="submit"
                      class="btn btn-info pull-right"
                    >
                      Post
                    </button>
                  </div>
                  <div class="clearfix"></div>
                  <hr />
                  <ul id="reviewList" class="media-list"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="fragments/footer :: footer"></div>
    </body>
    <script>
      const url = new URL(window.location.href);
      const reviewList = document.getElementById("reviewList");

      const isbn = url.pathname.split("/").pop();

      async function fetchData(url) {
        try {
          const response = await fetch(url);
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          const data = await response.json();
          return data;
        } catch (error) {
          console.error("Error fetching data:", error);
          throw error;
        }
      }

      function displayBook(book) {
        document.getElementById("isbn").innerText = book.isbn;
        document.getElementById("title").innerText = book.title;
        document.getElementById("author").innerText = book.author;
        document.getElementById("publisher").innerText = book.publisher;
        document.getElementById("image").src = book.image;
        document.getElementById("description").innerText = book.description;
        document.getElementById("price").innerText = book.price;
        document.getElementById("pubdate").innerText = book.pubdate;
      }

      function displayReviews(reviews, member) {
        if (reviews.length === 0) {
          reviewList.innerHTML = `<h6 class="mt-5 text-center">등록 된 댓글이 존재하지 않습니다.</h6>`;
          return;
        }
        reviews.forEach((review) => {
          const reviewLi = document.createElement("li");
          reviewLi.innerHTML = `<li id="${review.id}" class="media">
                      <div class="media-body">
                        <strong class="text-success">${review.name}</strong>
                        <span class="text-muted pull-right">
                          <small class="text-muted">${review.writeDate}</small>
                        </span>
                        <p style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;">${review.text}</p>
                        <div>
                          <button
                            type="submit"
                            class="btn btn-info pull-right deleteBtn"
                          >
                            삭제
                          </button>
                        </div>
                      </div>
                    </li>`;

          reviewList.appendChild(reviewLi);
          const deleteButtons = document.querySelectorAll(".deleteBtn");
          const lastDeleteButton = deleteButtons[deleteButtons.length - 1];
          if (review.loginId != member.loginId) {
            lastDeleteButton.classList.add("hidden");
          }
        });
      }

      function reviewSave() {
        const text = document.getElementById("review").value.trim();
        fetch(`/api/books/${isbn}/reviews`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ isbn, text }),
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.reload();
          })
          .catch((error) => {
            console.error("Error fetching books:", error);
          });
      }

      async function render() {
        const bookDataUrl = `/api/books/${isbn}`;
        const reviewDataUrl = `/api/books/${isbn}/reviews`;
        const loginMemberUrl = `/api/members`;
        const bookMarkUrl = `/api/books/${isbn}/bookmarks`;
        try {
          const member = await fetchData(loginMemberUrl);
          const book = await fetchData(bookDataUrl);
          const reviews = await fetchData(reviewDataUrl);
          const bookMark = await fetchData(bookMarkUrl);
          // 책 정보와 리뷰 정보를 표시
          displayBook(book);
          displayReviews(reviews, member);
          displayBookMark(bookMark);
        } catch (error) {
          console.error("Error fetching book details:", error);
        }
      }

      render();

      const addReview = document.getElementById("addReview");
      if (addReview != null) {
        addReview.addEventListener("click", reviewSave);
      }

      reviewList.addEventListener("click", function (event) {
        if (event.target.classList.contains("deleteBtn")) {
          const reviewItem = event.target.closest(".media");
          const reviewId = reviewItem.id;
          console.log(reviewId);
          if (confirm("정말로 이 리뷰를 삭제하시겠습니까?")) {
            fetch(`/api/books/${isbn}/reviews/${reviewId}`, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => {
                alert(data.msg);
                window.location.reload();
              })
              .catch((error) => {
                console.error("Error deleting review:", error);
                alert("리뷰 삭제 중 오류가 발생했습니다.");
              });
          }
        }
      });
    </script>
  </html>
</html>
