<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header"> </head>
  <body>
    <div class="container heightCal">
      <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
      <div id="contact" class="contact-area section-padding">
        <div class="container">
          <div class="section-title text-center">
            <h1>자유 토론</h1>
            <p>
              토론의 주제는 자유이며 책을 한권 선택해야 합니다. 책은 즐겨찾기에
              있는 책만 선택이 가능합니다. 즐겨찾기 책이 없다면 추가하고
              오십시오.
            </p>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="contact">
                <form id="addForm" class="form">
                  <div class="row mb-5">
                    <div class="form-group col-md-6 mb-2">
                      <div><span class="bi bi-person me-2"></span>작성자</div>
                      <input
                        id="name"
                        disabled
                        type="text"
                        name="name"
                        class="form-control"
                        style="background: #eee"
                      />
                    </div>
                    <div class="form-group col-md-6 mb-2">
                      <div><span class="bi bi-person me-2"></span>아이디</div>
                      <input
                        id="loginId"
                        disabled
                        type="text"
                        name="loginId"
                        class="form-control"
                        style="background: #eee"
                      />
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <span><span class="bi bi-archive me-2"></span>제목</span>
                      <span class="field-error" />
                      <input
                        maxlength="64"
                        id="title"
                        type="text"
                        class="form-control"
                        placeholder="Subject"
                        style="background: #eee"
                      />
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <span><span class="bi bi-book me-2"></span>책 이름</span>
                      <span class="field-error" />
                      <!--                  <input type="text" name="subject" class="form-control" placeholder="Subject" required="required" style="background: #eee;">-->
                      <select id="select" class="form-select form-select-sm">
                        <option value="null">책 선택.</option>
                      </select>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <span
                        ><span class="bi bi-clipboard me-2"></span>글 작성</span
                      >
                      <span class="field-error" />
                      <textarea
                        id="text"
                        rows="16"
                        maxlength="1024"
                        class="form-control"
                        placeholder="Your Message"
                        style="background: #eee"
                      ></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                      <button
                        type="submit"
                        value="Send message"
                        name="submit"
                        class="btn btn-contact-bg"
                        title="Submit Your Message!"
                      >
                        작성
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--- END COL -->
          </div>
          <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
  <script>
    let loginId;

    fetch(`/api/members`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((member) => {
        document.getElementById("name").value = member.name;
        document.getElementById("loginId").value = member.loginId;
        loginId = member.loginId;
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
      });

    fetch(`/api/bookmarks`, {
      method: "GET",
    })
      .then((response) => {
        if (!response.ok) {
          return response.json().then((data) => {
            if (response.status === 401) {
              window.location.href = "/login";
              alert(data.message);
            }
          });
        }
        return response.json();
      })
      .then((data) => {
        const selectElement = document.getElementById("select");

        data.forEach((book) => {
          option = document.createElement("option");
          option.value = book.isbn;
          option.textContent = book.bookTitle;
          selectElement.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
      });

    document
      .getElementById("addForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        name = document.getElementById("name").value;
        const title = document.getElementById("title").value;
        const text = document.getElementById("text").value;
        const isbn = document.getElementById("select").value;

        if (isbn === "null") {
          alert(
            "책 선택은 필수 입니다. 책이 없다면 즐겨찾기 추가하고 오십시오"
          );
          return;
        }

        if (title.length === 0 || text.length === 0) {
          alert("제목과 내용은 비어있으면 안됩니다.");
          return;
        }

        fetch(`/api/post`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id: -1, loginId, isbn, title, text }),
        })
          .then((response) => {
            return response.json().then((data) => {
              if (response.ok) {
                window.location.replace("/post/" + data.message);
              } else {
                window.location.href = "/login";
                alert(data.message);
              }
            });
          })
          .catch((error) => alert(error.message));
      });
  </script>
</html>
