<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header"> </head>
  <body>
    <div class="container heightCal">
      <div th:replace="fragments/bodyHeader :: bodyHeader" />
      <div class="container">
        <div class="main-body p-0">
          <div class="inner-wrapper">
            <!-- Inner sidebar -->
            <div class="inner-sidebar">
              <!-- Inner sidebar header -->
              <div class="inner-sidebar-header justify-content-center">
                <button
                  th:onclick="|location.href='@{/post/add}'|"
                  class="btn btn-primary has-icon btn-block"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-plus mr-2"
                  >
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                  글 작성
                </button>
              </div>
              <!-- /Inner sidebar header -->

              <!-- Inner sidebar body -->
              <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                  <div class="simplebar-wrapper" style="margin: -16px">
                    <div class="simplebar-height-auto-observer-wrapper">
                      <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                      <div
                        class="simplebar-offset"
                        style="right: 0px; bottom: 0px"
                      >
                        <div
                          class="simplebar-content-wrapper"
                          style="height: 100%; overflow: hidden"
                        >
                          <div class="simplebar-content" style="padding: 16px">
                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                              <a
                                th:href="@{/post}"
                                class="nav-link nav-link-faded has-icon"
                                th:classappend="${param.my == null} ? 'active' : ''"
                                >전체</a
                              >
                              <a
                                th:href="@{/post(my=true)}"
                                class="nav-link nav-link-faded has-icon"
                                th:classappend="${param.my != null and not param.my.isEmpty()} ? 'active' : ''"
                                >내 게시글</a
                              >
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                                <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>-->
                  </div>
                  <!--                            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>-->
                  <!--                            <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>-->
                </div>
              </div>
              <!-- /Inner sidebar body -->
            </div>
            <!-- /Inner sidebar -->

            <!-- Inner main -->
            <div class="inner-main">
              <!-- Inner main header -->
              <div class="inner-main-header">
                <div class="d-flex">
                  <select
                    id="orderBy"
                    class="form-select form-select-sm w-auto mr-1"
                  >
                    <option selected="" value="desc">최신 순</option>
                    <option value="asc">오래된 순</option>
                    <option value="commentDesc">댓글 많은 순</option>
                    <option value="commentAsc">댓글 적은 순</option>
                  </select>
                  <h6 id="showing" class="fs-16 mb-0 p-1"></h6>
                </div>
                <form
                  class="d-flex align-items-center"
                  th:action="@{/post}"
                  method="get"
                >
                  <select
                    id="select"
                    name="select"
                    class="form-select form-select-sm me-1"
                    style="width: 90px"
                  >
                    <option value="postTitle" selected="">제목</option>
                    <option value="bookTitle">책이름</option>
                    <option
                      th:unless="${param.my != null and not param.my.isEmpty()}"
                      value="writer"
                    >
                      작성자
                    </option>
                  </select>
                  <!--                            <span class="input-icon input-icon-sm ml-auto w-auto">-->
                  <!--                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />-->
                  <!--                             </span>-->
                  <div
                    class="input-group input-icon input-icon-sm ml-auto w-auto"
                  >
                    <input
                      id="query"
                      name="query"
                      type="search"
                      class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                      placeholder="Search forum"
                    />
                    <div class="d-flex input-group-prepend align-items-center">
                      <button
                        type="submit"
                        class="btn btn-link text-primary border-top border-end border-bottom"
                      >
                        <i class="bi bi-search"></i>
                      </button>
                    </div>
                  </div>
                  <input
                    th:if="${param.my != null and not param.my.isEmpty()}"
                    type="hidden"
                    name="my"
                    th:value="${param.my}"
                  />
                </form>
              </div>
              <!-- /Inner main header -->

              <!-- Inner main body -->

              <div class="container ms-2 my-3">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="">
                      <div class="table-responsive">
                        <table
                          class="table project-list-table table-nowrap align-middle table-borderless"
                        >
                          <thead>
                            <tr class="text-center">
                              <th scope="col" class="ps-4" style="width: 50px">
                                <!--                                                    <div class="form-check font-size-16"><input type="checkbox" class="form-check-input" id="contacusercheck" /><label class="form-check-label" for="contacusercheck"></label></div>-->
                                Id
                              </th>
                              <th scope="col">제목</th>
                              <th scope="col">책 이름</th>
                              <th scope="col">작성자</th>
                              <th scope="col">작성일</th>
                              <th scope="col">조회수</th>
                            </tr>
                          </thead>
                          <tbody id="tbody"></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mt-4 pt-2 col-lg-12">
                    <nav aria-label="Page navigation example">
                      <div
                        id="pagination"
                        class="pagination job-pagination mb-0 justify-content-center"
                      ></div>
                    </nav>
                  </div>
                </div>
              </div>
              <!-- /Inner main body -->
            </div>
            <!-- /Inner main -->
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
  <script>
    const params = new URLSearchParams(window.location.search);
    let url = new URL(window.location.href);
    const query = params.get("query");
    const select = params.get("select");
    const my = params.get("my") || false;
    let orderBy = params.get("orderBy");
    let currentPage = params.get("page");

    if (orderBy) {
      document.getElementById("orderBy").value = orderBy;
    }
    if (select) {
      document.getElementById("select").value = select;
    }
    if (query) {
      document.getElementById("query").value = query;
    }

    document.getElementById("orderBy").addEventListener("change", function () {
      orderBy = this.value;
      const url = new URL(window.location.href);
      if (orderBy) {
        url.searchParams.set("orderBy", orderBy);
        url.searchParams.set("page", 1);
      } else {
        url.searchParams.delete("orderBy");
      }
      window.location.href = url.toString();
    });

    function fetchPostList(currentPage) {
      const page = currentPage ?? 1;

      let apiUrl = `/api/post?select=${select}&query=${query}&page=${
        page - 1
      }&orderBy=${orderBy}&my=${my}`;

      fetch(apiUrl, { method: "GET" })
        .then((response) => {
          if (!response.ok) {
            return response.json().then((data) => {
              if (response.status === 401) {
                if (confirm(data.message)) {
                  window.location.href = "/login";
                } else {
                  window.location.href = "/post";
                }
              } else {
                console.error("Error:", data.message);
                throw new Error(data.message);
              }
            });
          }
          return response.json();
        })
        .then((data) => {
          displayPostList(data);
          updatePagination(data.page, page);
          updateShowing(page, data.page.totalElements);
        })
        .catch((error) => {
          console.error("Error fetching posts:", error);
        });
    }

    function displayPostList(data) {
      const tbody = document.getElementById("tbody");

      if (data.page.totalElements == 0) {
        tbody.innerHTML = `<h1 class="mt-5 text-center">존재하는 게시글이 없습니다.</h1>`;
        return;
      }

      const postList = data._embedded.postPagingDtoList;

      postList.forEach((post) => {
        const postTitle =
          post.postTitle.length > 20
            ? post.postTitle.slice(0, 25) + "..."
            : post.postTitle;

        const bookTitle =
          post.bookTitle.length > 15
            ? post.bookTitle.slice(0, 20) + "..."
            : post.bookTitle;

        const tr = document.createElement("tr");
        tr.className = "text-center";
        tr.innerHTML = `
                      <th scope="row" class="ps-4">
                        <div >${post.id}</div>
                      </th>
                       <td> <a href="/post/${post.id}" th:class="text-body">${postTitle}</a> <span> (${post.commentCount})</span></td>
                        <td><a href="/search/book/${post.isbn}">
                             <span class="badge badge-soft-success mb-0">${bookTitle}</span></a></td>
                         <td><span>${post.writer}</span></td>
                         <td><span></span>${post.createdDate}</td>
                         <td> <span>${post.viewCount}</span> </td>

                `;
        tbody.appendChild(tr);
      });
    }

    function updatePagination(page, current) {
      const pagination = document.getElementById("pagination");
      pagination.innerHTML = "";

      const startPage = Math.max(1, Math.floor((current - 1) / 10) * 10 + 1);
      const endPage = Math.min(page.totalPages, startPage + 9);

      if (query != null) {
        params.set("query", query);
      }
      if (orderBy != null) {
        params.set("orderBy", orderBy);
      }
      if (select != null) {
        params.set("select", select);
      }
      if (currentPage != null) {
        params.delete("page");
      }

      let finalUrl = `/post?${params.toString()}`;

      if (startPage > 1) {
        pagination.innerHTML += `
                    <li class="page-item">
                        <a class="page-link" href="${finalUrl}&page=${
          startPage - 10
        }">
                            <i class="bi bi-chevron-double-left fs-15"></i>
                        </a>
                    </li>
                `;
      }

      for (let i = startPage; i <= endPage; i++) {
        pagination.innerHTML += `
                    <li class="page-item ${i == current ? "active" : ""}">
                        <a class="page-link" href="${finalUrl}&page=${i}">${i}</a>
                    </li>
                `;
      }

      if (endPage < page.totalPages) {
        pagination.innerHTML += `
                    <li class="page-item">
                        <a class="page-link" href="${finalUrl}&page=${
          endPage + 1
        }">
                            <i class="bi bi-chevron-double-right fs-15"></i>
                        </a>
                    </li>
                `;
      }
    }

    function updateShowing(page, totalItems) {
      const showingElement = document.getElementById("showing");
      const start = (page - 1) * 10 + 1;
      const end = Math.min(page * 10, totalItems);
      showingElement.textContent = `Showing ${start} – ${end} of ${totalItems} results`;
    }
    fetchPostList(currentPage);
  </script>
</html>
