<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <style>
        .login-register-form {
            margin-top: 50px;
            background: yellow;
        }
    </style>

</head>
<body>
<div class="container heightCal">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container d-flex justify-content-center margin-top-100">
        <div class="col-md-2 col-lg-3">
            <form th:action="@{/login}"  method="post">
                <img class="mb-4" src="img/hani.jpg"  width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <div th:if="${loginError != null}">
                    <p class="field-error" th:text="${loginError}"></p>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="id" name="loginId" placeholder="">
                    <label for="id">아이디</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="" >
                    <label for="password">비밀번호</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">로그인</button>
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:if="${successMessage}">
        alert("회원가입에 성공 했습니다.");
   </script>
</html>