<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: header"> </head>
  <body>
    <div class="container heightCal">
      <div th:replace="fragments/bodyHeader :: bodyHeader" />
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center mt-5">
        <h1 class="display-4 fw-normal text-body-emphasis">
          항목 별 최고의 책
        </h1>
        <p class="fs-5 text-body-secondary">
          항목 별 최고의 책을 함께 둘러보세요.
        </p>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center px-5">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">리뷰 많은 순</h4>
            </div>
            <div class="card-body">
              <!--                    <h1 class="card-title pricing-card-title">책이름</h1>-->
              <img id="review-image" width="150px" height="180px" />
              <ul class="list-unstyled mt-3 mb-4">
                <li id="review-title">책이름</li>
                <li id="review-author">저자</li>
                <li id="review-pubdate">출판일</li>
              </ul>
              <button
                id="review-button"
                type="button"
                class="w-100 btn btn-lg btn-outline-primary"
              >
                둘러보기
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">토론 언급 1등</h4>
            </div>
            <div class="card-body">
              <!--                    <h1 class="card-title pricing-card-title">책이름</h1>-->
              <img id="post-image" width="150px" height="180px" />
              <ul class="list-unstyled mt-3 mb-4">
                <li id="post-title">책이름</li>
                <li id="post-author">저자</li>
                <li id="post-pubdate">출판일</li>
              </ul>
              <button
                id="post-button"
                type="button"
                class="w-100 btn btn-lg btn-outline-primary"
              >
                둘러보기
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">즐겨찾기 1등</h4>
            </div>
            <div class="card-body">
              <!--                    <h1 class="card-title pricing-card-title">책이름</h1>-->
              <img id="bookmark-image" width="150px" height="180px" />
              <ul class="list-unstyled mt-3 mb-4">
                <li id="bookmark-title">책이름</li>
                <li id="bookmark-author">저자</li>
                <li id="bookmark-pubdate">출판일</li>
              </ul>
              <button
                id="bookmark-button"
                type="button"
                class="w-100 btn btn-lg btn-outline-primary"
              >
                둘러보기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
  <script>
    fetch(`/api/books/top`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => render(data))
      .catch((error) =>
        console.error("There was a problem with the fetch operation:", error)
      );

    // Handle click events
    function handleClick(isbn) {
      location.href = `/search/book/${isbn}`;
    }

    // Render the data to the DOM
    function render(data) {
      updateCard("review", data.review);
      updateCard("post", data.post);
      updateCard("bookmark", data.bookmark);
    }

    // Update card information
    function updateCard(type, bookData) {
      document.getElementById(`${type}-image`).src = bookData.image;
      document.getElementById(`${type}-title`).textContent = bookData.bookTitle;
      document.getElementById(`${type}-author`).textContent = bookData.author;
      document.getElementById(`${type}-pubdate`).textContent = bookData.pubdate;
      document
        .getElementById(`${type}-button`)
        .addEventListener("click", () => handleClick(bookData.isbn));
    }
  </script>
</html>
